body {font-family: areial;
background-color: grey}
h1.welcome{color: yellow;}
a:link {color: blue;}
a:visited {color: red;}
i {color: white}
p {color: #33FF5C;}
div.batman{height: 1050px;
width: 900px;
background-color: black;
border-style: outset;
border-color: darkgrey;
padding: 10px;
text-align: center;
color: yellow}

div.joker{height: 1150px;
width: 900px;
background-color: purple;
border-style: outset;
border-color: darkgrey;
padding: 10px;
text-align: center;
color:#33FF5C}
html{cursor: url("http://www.cursor.cc/cursor/41/28/cursor.png"), default;}
